@model Pagina_Ventas.Models.dbModels.Producto

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Producto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CostoProd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CostoProd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExistenciaProd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExistenciaProd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescuentoProd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescuentoProd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecioProd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecioProd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescripcionProd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescripcionProd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoProdNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoProdNavigation.IdEstado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCatProdNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCatProdNavigation.IdCat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MarcaProdNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MarcaProdNavigation.IdMarca)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdProd">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
